<head>
</head>

<body>

<nav>
</nav>

<div id="main">
  <div id="container">
  <div id="content">
<iframe width="420" height="315"
src="https://www.youtube.com/embed/dQw4w9WgXcQ">
</iframe>
  <div id="descriptif">
    <div class="titlechaine">
    <h1>Rick Astley - Never Gonna Give You Up</h1>
    <div id="nomchaine">
        <img src="https://yt3.ggpht.com/-CGlBu6kDEi8/AAAAAAAAAAI/AAAAAAAAAAA/Pi679mvyyyU/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="photo de la chaine" style="width:48px;height:48px;border:0;">
        <h3>RickAstleyVEVO</h3>
        <button class="buttonsabonner">
          <a href="">S'abonner</a></button>
    </div>
    <div id="vues">
      <p>342 101 166 vues</p>
    </div>
  </div>
</div>
    <div id="barre">
    </div>
    <div id="boutons">
      <div id="buttonsleft">
        <button type="button">Ajouter à</button>
        <button type="button">Partager</button>
        <button type="button">Plus</button>
      </div>
    </div>
  <div id="commentaire">
  </div>
<div id="mainright">
  <div id="sidebar">
    <h2>A suivre</h2>
  </div>
</div>

</div>
</div>
</div>


<footer>
</footer>

</body>
